.box {
  max-width: 200px;
  min-width: 200px;
  min-height: 300px;
  height: auto;
  position: relative;
  margin-top: 5px;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212a39;
  color: #fff;
  text-shadow: 2px 2px black;
  text-transform: capitalize;
  text-align: center;
  font-size: 12px;

  // :hover {
  //   outline: 3px solid lime;
  // }

  // .info-box {
  //   position: relative;
  // max-height: 50px;
  // max-width: 200px;
  // margin: 5px;
  // bottom: 0;

  .poke-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    .poke-id {
      font-size: 12px;
    }

    .poke-name {
      font-size: 16px;
      max-width: 200px;
    }
  }
  // }

  .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    align-items: center;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;

      ellipse {
        fill: rgba(216, 216, 216, 0);
        stroke-width: 20px;
        filter: blur(22px);
      }
    }

    app-sprite {
      position: absolute;
      width: 100%;
      top: 0;
    }
  }

  span {
    font-size: 12px;
  }
}
