<div class="modal" *ngIf="pokemon">
  <div class="modal-content">
    <div class="modal-title">
      <h2 class="poke-name">{{ pokemon?.name }}</h2>
      <p class="poke-id">{{ pokemon?.id }}</p>
    </div>
    <div class="modal-body">
      <div class="modal-left">
        <img
          [src]="pokemon?.sprites?.other?.home?.front_default || ''"
          alt="{{ pokemon?.name }}"
          class="modal-image"
        />
      </div>
      <div class="modal-right">
        <span *ngIf="pokemon?.types && pokemon?.types.length > 0">{{
          pokemon.types[0].type.name
        }}</span>
        <span *ngIf="pokemon?.types && pokemon?.types.length === 2">
          / {{ pokemon.types[1].type.name }}</span
        >
        <div class="poke-flavor">
          <p *ngFor="let entry of getSelectedFlavorTextEntries()">
            {{ entry.flavor_text }}
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="prev-btn"
        (click)="previousPokemon()"
        [disabled]="pokemon.id === 1"
      >
        Previous
      </button>
      <button class="close-btn" (click)="closeModal()">Close</button>
      <button
        class="next-btn"
        (click)="nextPokemon()"
        [disabled]="pokemon.id === 898"
      >
        Next
      </button>
    </div>
  </div>
</div>
