
.header {
  overflow: hidden;
  padding: 0;
  top: 0;
  position: sticky;
  margin-top: 16px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #eb1c1c;
  color: #ffff;
  z-index: 1000;
  width: 100%;
  min-width: 150px;
  font-family: "Press Start 2P", cursive;
  text-shadow: 2px 2px black;

}
