.search-bar {
  margin: 5px;
  text-align: center !important;
  width: min(100% - 2rem, 600px);
  margin-inline: auto;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  width: min(100% - 5rem);
  margin-inline: auto;
}

.poke-paginate ::ng-deep {
  position: relative;
  z-index: 1;
  margin-bottom: 0 !important;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  text-shadow: 2px 2px black;
  font-size: 12px;
  ul {
    li {
      margin-right: -1px !important;
      a {
        &:hover,
        &:focus {
          outline: none;
          text-shadow: 1px 1px grey;
          background-color: #ddd;
          border-radius: 5px;
        }
      }
    }
    li.current {
      background-color: #007bff !important;
      border: 1px solid #007bff !important;
      border-radius: 5px;
      padding: 6px 12px !important;
      z-index: 999999 !important;
      position: relative;
    }
    a {
      color: #007bff !important;
      background-color: none !important;
      // border: 1px solid #dee2e6 !important;
      padding: 6px 12px !important;
    }
    button {
      color: #007bff !important;
      background-color: #fff !important;
      // border: 1px solid #dee2e6 !important;
      padding: 6px 12px !important;
    }
    .disabled {
      color: #6c757d !important;
      pointer-events: none !important;
      cursor: auto !important;
      background-color: none !important;
      // border: 1px solid #dee2e6 !important;
      padding: 6px 12px !important;
    }
  }
}
