<div class="search-bar">
  <input
    type="text"
    class="form-control"
    placeholder="Search Here"
    name="term"
    [(ngModel)]="term"
    (ngModelChange)="onSearchChange()"
  />
</div>

<div class="card-grid">
  <app-card
    *ngFor="
      let item of pokemon
        | filter : term
        | paginate : { itemsPerPage: limit, currentPage: page }
    "
    [item]="item"
    (click)="openModal(item)"
  ></app-card>
</div>

<app-pokemon-modal
  [pokemon]="selectedPokemon"
  *ngIf="selectedPokemon"
  (close)="closeModal()"
></app-pokemon-modal>

<pagination-controls
  class="poke-paginate"
  (pageChange)="pageChange($event)"
></pagination-controls>
