$normal: #a8a77a;
$fire: #ee8130;
$water: #6390f0;
$electric: #f7d02c;
$grass: #7ac74c;
$ice: #96d9d6;
$fighting: #c22e28;
$poison: #a33ea1;
$ground: #e2bf65;
$flying: #a98ff3;
$psychic: #f95587;
$bug: #a6b91a;
$rock: #b6a136;
$ghost: #735797;
$dragon: #6f35fc;
// $dark: #705746;
$dark: #36004f;
$steel: #b7b7ce;
$fairy: #d685ad;

$glow: rgba(255, 255, 255, 0) 73%;

.normal {
  fill: $normal;
}
.fire {
  fill: $fire;
}
.water {
  fill: $water;
}
.electric {
  fill: $electric;
}
.grass {
  fill: $grass;
}
.ice {
  fill: $ice;
}
.fighting {
  fill: $fighting;
}
.poison {
  fill: $poison;
}
.ground {
  fill: $ground;
}
.flying {
  fill: $flying;
}
.psychic {
  fill: $psychic;
}
.bug {
  fill: $bug;
}
.rock {
  fill: $rock;
}
.ghost {
  fill: $ghost;
}
.dragon {
  fill: $dragon;
}
.dark {
  fill: $dark;
}
.steel {
  fill: $steel;
}
.fairy {
  fill: $fairy;
}

.water {
  background: radial-gradient(circle, $water, $glow);
}
.grass {
  background: radial-gradient(circle, $grass, $glow);
}
.fire {
  background: radial-gradient(circle, $fire, $glow);
}
.bug {
  background: radial-gradient(circle, $bug, $glow);
}
.electric {
  background: radial-gradient(circle, $electric, $glow);
}
.normal {
  background: radial-gradient(circle, $normal, $glow);
}
.rock {
  background: radial-gradient(circle, $rock, $glow);
}
.dark {
  background: radial-gradient(circle, $dark, $glow);
}
.fairy {
  background: radial-gradient(circle, $fairy, $glow);
}
.flying {
  background: radial-gradient(circle, $flying, $glow);
}
.ground {
  background: radial-gradient(circle, $ground, $glow);
}
.poison {
  background: radial-gradient(circle, $poison, $glow);
}
.steel {
  background: radial-gradient(circle, $steel, $glow);
}
.dragon {
  background: radial-gradient(circle, $dragon, $glow);
}
.fighting {
  background: radial-gradient(circle, $fighting, $glow);
}
.ghost {
  background: radial-gradient(circle, $ghost, $glow);
}
.ice {
  background: radial-gradient(circle, $ice, $glow);
}
.psychic {
  background: radial-gradient(circle, $psychic, $glow);
}
